html,
body {
    height: 100%;
}

body.hide-sidebar:not(.show-sidebar) #menu {
    margin-left: -250px;
    transition: margin-left 0.3s;
}


body.page-small #menu {
    margin-left: -250px;
    transition: margin-left 0.3s;
}

body.page-small #wrapper {
    margin-left: 0;
    transition: margin-left 0.3s;
}

body.show-sidebar #menu {
    margin-left: 0;
    transition: margin-left 0.3s;
}

#wrapper {
    margin-left: 40px;
    width: calc(100% - 30%);
    transition: margin-left 0.3s;
    height: 100%;
}
#wrapper .container-fluid,
#wrapper .container-fluid .row{
    height: 100%;
}

#header {
    background: #fff;
    display: block;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e2e8f0
}

#header .top_header {
    padding: 12px 30px;
}

.components li:has(a.active) {
    background-color: black;
}

.components li>a.active {
    color: #fff;
    cursor: pointer;
}

.components li {
    display: block;
    width: 100%;
}

.stepformcomponents li:has(a.active) {
    background-color: black;
}

.stepformcomponents li>a.active {
    color: #fff;
    cursor: pointer;
}

.stepformcomponents li {
    display: block;
    width: 100%;
}

.components>li {
    color: #000;
    padding: 20px;
}

.components>li>a {
    color: #334155;
    text-decoration: none;
}

.components>li:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.components>li:hover a {
    color: #fff;
}

/*sidebar*/
.sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    transition: width 0.3s;
    overflow-x: hidden;
    background-color: #F1F5F9;
}

.sidebar.collapsed {
    width: 60px;
    /* Change to desired collapsed width */
}

.sidebar-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* ========================================
Header
==========================================*/

.navbar .toggle_icon {
    cursor: pointer;
}

.navbar .toggle_icon_wrapper {
    position: relative;
}

.navbar .toggle_icon_wrapper:hover::after {
    content: 'Toggle Side Menu';
    position: absolute;
    top: 34px;
    left: 2px;
    background: #000000d1;
    color: #fff;
    z-index: 99999999;
    width: max-content;
    height: max-content;
    padding: 12px 14px;
    border-radius: 6px;
}

.navbar .rs_logo {
    margin-right: 40px;
}

.main_wrapper {
    height: 94%;
    display: flex;
}

/* ========================================
          Left Menu
==========================================*/


#wrapper:has(.left_inner_menu) {
    margin-left: 0;
    margin-top: 0 !important;
}
.left_inner_menu{
    background-color: var(--primary-color);
    padding: 16px;
    max-width: 240px;
}
.left_inner_menu h5{
    color: #fff;
    font-weight: 300;
    margin-bottom: 32px;
}

.left_inner_menu .stepformcomponents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left_inner_menu .stepformcomponents label{
    color: var(--primary-color-disable);
    position: relative;
    padding-left: 24px;
}
.left_inner_menu .stepformcomponents label::before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid var(--primary-color-disable);
    position: absolute;
    left: 0;
    top: 4px;
}
.left_inner_menu .stepformcomponents .form-check{
    padding: 0;
}
.left_inner_menu .stepformcomponents .form-check,
.left_inner_menu .stepformcomponents .form-check input,
.left_inner_menu .stepformcomponents .form-check label
{
    cursor: pointer;
}

.left_inner_menu .stepformcomponents input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked+label {
    color: var(--secondary-color);
    font-weight: 500;
  }
  input[type="radio"]:checked+label::before {
    border: 1px solid #fff;
    background-color: var(--secondary-color);
  }

  .left_inner_menu .stepformcomponents .form-check.selected label {
    color: #fff;
  }
  .left_inner_menu .stepformcomponents .form-check label:hover {
    color: #fff;
  }

  .left_inner_menu .stepformcomponents .form-check label:hover::before {
    border: 1px solid #fff;
  }
  .left_inner_menu .stepformcomponents .form-check.selected label::before {
    border: 1px solid #fff;
  }

/* ========================================
          Steps
==========================================*/

.steps_content{
    padding-left: 40px;
    padding-top: 40px ;
}